@media (max-width:1400px) {
  .section-total{
    max-width: 305px;
  }
  
  .section-total-top__title{
    margin-right: 45px;
  }
}

@media (max-width:1023px) {
  .section {
    max-width: 100%;
  }

  .section-recipient{
    margin-bottom: 16px;
  }

  .section-total {
    position: static;
    max-width: 100%;
  }
}


@media (max-width:683px) {

  /*glob*/

  .container{
    max-width: 320px;
    padding: 0;
  }

  .section {
    padding: 0 16px;
  }

  .section-container{
    padding: 0;
    border-radius: 0;
    background-color: transparent;
  }

  .section-top{
    margin-bottom: 8px;
  }

  .section-title{
    margin-bottom: 0;
    font-size: 20px;
    line-height: 28px;
  }

  /*header*/
  .header-container {
    padding: 11px 16px;
  }

  .header__burger {
    margin-right: 22px;
    padding: 0;
    border: none;
    border-radius: 0;
  }

  .burger-big{
    display: none;
  }

  .burger-small{
    display: inline-block;
  }

  .header__burger:focus{
    border: none;
  }

  .header__title {
    max-width: 100%;
    margin-right: 23px;
    padding-bottom: 10px;
    font-size: 26px;
  }

  .header-search {
    padding-right: 0;
    margin-right: 0;
    border-radius: 0;
    background: transparent;
  }

  .header-search__input {
    display: none;
  }

  .header-search__btn {
    opacity: 1;
  }

  .header-btns{
    display: none;
  }

  /*main*/

  .main-container{
    padding-top: 15px;
    padding-bottom: 40px;
    
  }

  /*cart*/

  .section-cart__title{
    margin-bottom: 13.5px;
    font-size: 20px;
    line-height: 28px;  
  }

  
  .section-cart-accordion-list__item {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .section-cart-accordion-list__item-checkbox {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 12px;
    padding-left: 0;
  }

  .section-cart-accordion-list__item-input{
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .section-cart-accordion-list__item-picture{
    width: 80px;
    height: 112px;
  }

  .section-cart-accordion-list__item-content {
    max-width: 192px;
  }

  .section-cart-accordion-list__item-remain-content{
    padding-top: 20px;
  }

  .section-cart-accordion-list__item-title{
    font-size: 14px;
    line-height: 20px;
  }

  .section-cart-accordion-list__item-title-big{
    display: none;
  }

  .section-cart-accordion-list__item-title-small{
    display: inline-block;
  }

  .section-cart-accordion-list__item-add:last-child{
    display: none;
  }
  
  .section-cart-accordion-list__item-sign {
    top: 5px;
    left: 5px;
  }

  .section-cart-accordion-list__item-manage {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-right: 14px;
  }

  .section-cart-accordion-list__item-amount {
    width: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 10px;
    margin-bottom: 0;
  }

  .section-cart-accordion-list__item-count {
    font-size: 14px;
    line-height: 20px;
  }

  .section-cart-accordion-list__item-available {
    margin-bottom: 0; 
  }

  .section-cart-accordion-list__item-action {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .section-cart-accordion-list__item-price {
    position: absolute;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: 96px;
  }


  .section-cart-accordion-list__item-real-price{
    margin-bottom: 0;
    margin-right: 5px;
  }
  
  .section-cart-accordion-list__item-real-price-number{
    font-size: 16px;
    line-height: 24px;
  }
  
  .section-cart-accordion-list__item-price-popup{
    right: -50px;
  }

  .section-cart-accordion-list__item-ended {
    padding-right: 0;
  }

  .section-cart-accordion-list__item-ended-action {
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding-right: 14px;
  }

  .section-cart-accordion-list__item-descr-small{
    position: absolute;
    display: inline;
    bottom: 4px;
    left: 4px;
    width: 22px;
    height: 22px;
    border-radius: 6px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    background-color: var(--color_FFF);
    color: var(--color_000);
  }

  .section-cart-accordion-list__item-left{
    position: relative;
  }

  .section-cart-accordion-list__item-size{
    display: none;
  }

  /*delivery*/

  .section-delivery{
    margin-bottom: 12px;
    padding-top: 16px;
    padding-bottom: 24px;
    border-radius: 16px;
    background-color: var(--color_FFF);
  }
  
  .section-delivery-middle{
    margin-bottom: 24px;
  }
  
  .section-delivery-middle__item{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-delivery-middle__descr{
    width: 100%;
  }

  .section-delivery-middle__photo-title{
    margin-bottom: 16px;
  }

  .section-delivery-bottom{
    display: block;
  }
  
  .section-delivery-bottom__descr{
    margin-right: 0;
  }

  .section-delivery-bottom__tooltip{
    display: inline-block;
  }
  
  /*payment*/

  .section-payment{
    margin-bottom: 12px;
    padding-top: 16px;
    padding-bottom: 24px;
    border-radius: 16px;
    background-color: var(--color_FFF);
  }

  /*recipient*/

  .section-recipient{
    margin-bottom: 12px;
    padding-top: 16px;
    padding-bottom: 40px;
    border-radius: 16px;
    background-color: var(--color_FFF);
  }

  .section-top-recipient {
    margin-bottom: 27px;
  }

  .section-recipient-form__fieldset{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-recipient-form__fieldset:not(:last-child) {
    margin-bottom: 45px;
  }

  .section-recipient-form__wrapp:not(:last-child) {
    margin-right: 0;
    margin-bottom: 45px;
  }

  /*total*/

  .section-total {
    padding: 0 16px;
    background-color: var(--color_F6F6FA);
  }

  .section-total-top{
    margin-bottom: 16px;
  }

  .section-total-top__total-price{
    font-size: 20px;
    line-height: 28px;
  }

  .section-total-middle {
    margin-bottom: 16px;
  }

  .section-total-middle__header{
    display: none;
  }

  .section-total-middle__descr{
    display: none;
  }

  .section-total-middle__info{
    padding-right: 5px;
    background-color: var(--color_F0ECF4);
  }

  .section-total-middle__header{
    display: none;
  }

  .section-total-middle__descr{
    display: none;
  }

  .section-delivery-bottom__popup{
    left: -95px;
  }

  .section-total-middle__info-popup{
    left: -124px;
  }

  /*footer*/

  .footer-container {
    padding-top: 24px;
    padding-bottom: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer-bottom{
    display: block;
    padding: 18px 16px;
    padding-bottom: 13px;
    background-color: var(--color_FFF);
  }

  .footer-bottom-list{
    max-width: 288px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }

  .footer-bottom-list__item:not(:last-child){
    margin-right: 38px;
  }

  .footer-bottom-list__item-btn{
    position: relative;
  }

  .footer-bottom-list__item-cart-btn path{
    fill: var(--color_CB11AB);
  }

  .footer-cart-amount-items{
    right: -6px;
  }

  /*modal*/

  .modal-container{
    width: 320px;
    min-height: 100%;
    padding: 16px;
    border-radius: 0;
  }
}